body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.855);
  }
  
  .nav_bar {
    overflow: hidden;
    background-color: #333;
  }
  
  .nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .nav_bar li {
    float: left;
  }
  
  .nav_bar li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav_bar li a:hover {
    background-color: #ddd;
    color: black;
  }