<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <nav class="nav_bar">
            <ul>
                <li><a href="{{ url_for('index') }}">Predict</a></li>
                <li><a href="#data">Data</a></li>
            </ul>
        </nav>
    </body>
</html>
