<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Predict</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="login">
            <h1>Predict</h1>
            <form action="{{ url_for('iris')}}">
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict iris</button>
            </form>
            <br>
            <form action="{{ url_for('titanic')}}">
              <button type="submit" class="btn btn-primary btn-block btn-large">Predict titanic</button>
            </form>
        </div>
    </body>
</html>
