<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Predict Titanic</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="login">
            <h1>Predict Survived</h1>
              <form action="{{ url_for('predict_titanic')}}"method="post">
                  <input type="text" name="pclass" placeholder="pclass" required="required" />
                  <input type="text" name="sex" placeholder="sex" required="required" />
                  <input type="text" name="age" placeholder="age" required="required" />
                  <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
              </form>
              <p>{{ prediction_text }}</p>
        </div>
    </body>
</html>
