<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Predict iris</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="login">
            <h1>Predict Iris Class</h1>
            <form action="{{ url_for('predict_iris')}}"method="post">
                <input type="text" name="sepal_length" placeholder="Sepal Length (cm)" required="required" />
                <input type="text" name="sepal_width" placeholder="Sepal Width (cm)" required="required" />
                <input type="text" name="petal_length" placeholder="Petal Length (cm)" required="required" />
                <input type="text" name="petal_width" placeholder="Petal Width (cm)" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>
            <p>{{ prediction_text }}</p>
        </div>
    </body>
</html>
