name: CI
on: [push]
jobs:
  test_build_push:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: dependencies install 
        uses: actions/setup-python@v4
        with: 
          python-version: "3.10"
          cache: 'pip' 
      - run:
          pip install -r requirements.txt
      - name: Run tests
        run :
          pytest   
      - name: build docker image
        run : 
          docker build -t test_ho .
      - name: run docker image
        run : 
          docker run -p 5000:5000 -d test_ho

 