name: CI
on: [push]
jobs:
  test_build_push:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with: 
          python-version: "3.10"
      - name: build docker image
        run : 
          docker build -t test_ho .
      - name: run docker image
        run : 
          docker run -p 5000:5000 -d test_ho
      - name: Run tests
        run :
          pip install flask
          python app.py
          pip install pytest
          pytest
 